## Types of hypothesis test

- T test
    - continuous values attribute
    - 1 sample T-test, Example - To test if there is a significant difference in population mean and sample mean.
    - 2 sample T-test, Example - To test if there is a significant difference in two population attributes.
- Chi square test
    - Two categorical attributes.
- ANOVA(Analysis of variance) test
    - One categorical attribute, one numerical attribute
    - Example - you want to check for each categorical variable, is there a change in numerical attribute.

### lets create some dataset

In [1]:
import seaborn as sns
import pandas as pd
import numpy as np
import scipy as sc
# df=sns.load_dataset('tips')

### One sample T- test

- Suppose we have BE college with 32 students, and I say CS branch students are youngest than all other branches.
    - Here my alternative hypothesis is CS branch students are youngest
    - My Null hypothesis is that, all students are of equal ages or there is no such alternative hypothesis.

In [38]:
ages = [10,20,35,50,28,40,55,18,16,55,30,25,43,18,30,28,14,24,16,17,32,35,26,27,65,18,43,23,21,20,19,70]
population_mean = np.mean(ages)

# lets take a mean of CS branch students
sample = np.random.choice(ages, 10)
sample_mean = sample.mean()

print(population_mean, sample_mean)

30.34375 31.3

In [39]:
ttest, p_value = sc.stats.ttest_1samp(population_mean, sample_mean)

In [42]:
# print(p_value)

In [41]:
if p_value < 0.05:    # alpha value is 0.05 or 5%
    print(" we are rejecting null hypothesis")
else:
    print("we are accepting null hypothesis")

we are accepting null hypothesis

### Two sample T-test
- suppose you want to donate money to poor people, and you want income range of people to decide to whom you should donate.
- And you tell two agencies to collect income range of people. And you have a doubt whether two groups have same pattern or not.
- In such scenario we can conduct two sample T-test
    - Null hypothesis - No majour difference in two groups of data
    - Alternate hypothesis - there is some doubt on these two sample data

In [43]:
np.random.seed(12)
group_a_income = sc.stats.poisson.rvs(loc=3000,mu=10000,size=60)
group_b_income = sc.stats.poisson.rvs(loc=3000,mu=14000,size=60)
print(group_a_income.mean(), group_b_income.mean())

12997.916666666666 16987.7

In [44]:
_, p_value = sc.stats.ttest_ind(a=group_a_income, b=group_b_income,equal_var=False)

In [45]:
if p_value < 0.05:    # alpha value is 0.05 or 5%
    print(" we are rejecting null hypothesis")
else:
    print("we are accepting null hypothesis")

 we are rejecting null hypothesis

### ANOVA test (F-test)
- It tells whether two or more groups are similar or not based on their mean similarity and f-score.

1. Example : null hypotheses, there is no significant change in tip values based on days

In [95]:
df=sns.load_dataset('tips')

In [96]:
days = df['day'].unique()
days

['Sun', 'Sat', 'Thur', 'Fri']
Categories (4, object): ['Sun', 'Sat', 'Thur', 'Fri']

In [110]:
size_day_d = {day:df['size'][df.day == day] for day in days}
size_day = pd.crosstab(df['size'], df['day'])
size_day.loc['mean'] = size_day.mean()
size_day.style.background_gradient(cmap='Blues')

In [98]:
F, p_value = sc.stats.f_oneway(size_day_d['Sun'], size_day_d['Sat'], size_day_d['Thur'], size_day_d['Fri'])

In [99]:
p_value

0.006840567173057235

In [100]:
if p_value < 0.05:    # alpha value is 0.05 or 5%
    print(" we are rejecting null hypothesis")
else:
    print("we are accepting null hypothesis")

 we are rejecting null hypothesis

2. Example : null hypotheses, there is no significant change in size values based on days

In [109]:
tip_day_d = {day:df['tip'][df.day == day] for day in days}
tip_day = pd.crosstab(df['tip'].astype(int), df['day'])
tip_day.loc['mean'] = tip_day.mean()
tip_day.style.background_gradient(cmap='Blues')

In [102]:
F, p_value = sc.stats.f_oneway(tip_day_d['Sun'], tip_day_d['Sat'], tip_day_d['Thur'], tip_day_d['Fri'])

In [103]:
p_value

0.1735885553040592

In [104]:
if p_value < 0.05:    # alpha value is 0.05 or 5%
    print(" we are rejecting null hypothesis")
else:
    print("we are accepting null hypothesis")

we are accepting null hypothesis